{% extends 'pages/base.html' %}

{% block title %}DELETE PAGE
{% endblock title %}

{% block content %}
<div class="container mt-5"></div>
<div class="row mx-1 my-1">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                ADD TODO
            </div>
            <div class="card-body m-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">TODO</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{delete_task.action}}" placeholder="Enter the todo Here">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<h1>{{task_pending.action}}</h1>
{% endblock content %}