{% extends 'pages/base.html' %}

{% block title %}TODO APP
{% endblock title %}

{% block content %}
<div class="card">
            <div class="card-header bg-dark text-white">
                PENDING TASKS
            </div>
            <div class="card-body m-3">
 <div class="table-responsive">
    <table class="table table-striped thead-dark table-bordered table">
        <thead class="thead-dark">
          <tr>
                <th>TODO</th>
                <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
            {% for a in datapending %}
          <tr>
                <td>{{a.action}}</td>
                <td><form method="POST">{% csrf_token %}
                <a href="/complete/{{a.id}}">
                        complete
                </a>
                </form></td>
          </tr>
          {% endfor %}
         </tbody>
      </table>
</div>
</div>
</div>
<div class="card">
            <div class="card-header bg-dark text-white">
                COMPLETE TASKS
            </div>
            <div class="card-body m-3">
 <div class="table-responsive">
    <table class="table table-striped thead-dark table-bordered table">
        <thead class="thead-dark">
          <tr>
                <th>TODO</th>
                <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
            {% for a in datacomplete %}
          <tr>
                <td>{{a.actioncomplete}}</td>
                <td>COMPLETED</td>
          </tr>
          {% endfor %}
         </tbody>
      </table>
</div>
</div>
</div>
{% endblock content %}